.boardContainer {
  padding: 16px 40px;
  margin: 0 auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #333 #444;
  display: flex;
  flex-direction: column;
}

.columnsWrapper {
  width: 100%;
  min-width: 748px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 16px;
  overflow-x: hidden;
}
@media (max-width: 991px) {
  .boardContainer {
    padding: 8px 10px;
  }
  .columnsWrapper {
    gap: 10px;
  }
}

.deleteDoneBtn {
  margin-bottom: 16px;
  padding: 8px 12px;
  background-color: crimson;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
